# Server Configuration
PORT=
NODE_ENV=

# Supabase Configuration
SUPABASE_URL=
SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=

# Database Configuration (PostgreSQL via Supabase)
DATABASE_URL=
# CORS Configuration
ALLOWED_ORIGINS=

# Kakao Map API
KAKAO_API_KEY=

# TMap API
TMAP_API_KEY=

JWT_SECRET=

# Naver API
AUTH_NAVER_CLIENT_ID=
AUTH_NAVER_CLIENT_SECRET=

AUTH_GOOGLE_CLIENT_ID=
AUTH_GOOGLE_SECRET=

AUTH_GITHUB_CLIENT_ID=
AUTH_GITHUB_SECRET=

# Kakao API
AUTH_KAKAO_CLIENT_ID=
AUTH_KAKAO_SECRET=

SERVER_BASE_URL=
CLIENT_BASE_URL=

# 프론트에서 로그인 시작하는 도메인들
CLIENT_ORIGINS=